#search-container {
    background: rgba(0, 0, 0, 0.8);
    border: thin groove rgba(100, 100, 100, 0.3);
    padding: 20px;
    margin-bottom: 0;
    width: auto;
}
.search-form {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}
#search-tab {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#search-tabs a {
    border: thin groove transparent;
    padding: 1px 10px;
    margin: 0;
    text-decoration: none;
}
.search-form p {
    margin: 0;
}
#search-tabs a.active, #search-tabs a:hover {
    border: thin groove #666;
    border-bottom: none;
    color: #999;
}
#search-wide, #search-button {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
#search-wide {
    background: rgba(0, 0, 0, 0);
    border: thin groove #666;
    width: 60%;
    padding: 4px 2px;
    margin: 0;
}
#search-button {
    background: rgba(0, 0, 0, 0);
    color: rgb(100, 100, 100);
    border: thin groove #666;
    cursor: pointer;
    font-family: 'Space Grotesk', monospace;
    padding: 6px;
}
#search-button:hover {
    background: rgba(50, 50, 50, 0.3);
    color: #ddd;
}
.pagination {
    margin-bottom: -1px;
}
.pagination a {
    border: thin groove rgba(100, 100, 100, 0.5);
    border-bottom: none;
    color: #999;
    padding: 1px 7px 0 7px;
    text-decoration: none;
}
.pagination a.current {
    border-bottom: thin groove rgba(8, 8, 8, 1);
    background: rgba(16, 16, 16, 0.5);
}
.posts-list {
    border: thin groove rgba(100, 100, 100, 0.3);
}
.post-item-link {
    display: block;
    color: inherit;
}
.post-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: -1px;
    text-decoration: none;
}
.post-item-link:nth-child(odd) .post-content {
    background: rgba(16, 16, 16, 0.5);
}
.post-item-link:nth-child(even) .post-content {
    background: rgba(0, 0, 0, 0.5);
}
.post-item-link:hover .post-content {
    color: #ddd;
    transform: translateX(1px);
}
.post-title {
    color: #777;
}
.post-item-link:hover .post-title {
    color: #ddd;
}
.count-badge {
    position: relative;
    top: -0.2em;
    font-size: 0.8em;
    color: #999;
    padding-left: 2px;
    vertical-align: baseline;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.2em;
    height: 1.2em;
    line-height: 1;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    margin-left: 2px;
}
#tag-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.selected-tag {
    background: rgba(0, 0, 0, 0);
    color: #999;
    margin: 0 5px 0 0;
    padding: 2px 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    border: thin groove rgba(100, 100, 100, 0.5);
}
.selected-tag::after {
    content: "×";
    font-size: 13px;
    padding-left: 3px;
}
#toggle-tags {
    background: transparent;
    color: #999;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 5px;
}
.tags-dropdown-wrapper {
    position: relative;
    display: inline-block;
}
.dropdown-tags {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: thin groove rgba(100, 100, 100, 0.3);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    width: 400px;
}
.available-tag {
    padding: 5px 8px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    border: thin groove rgba(100, 100, 100, 0.3);
    margin: 2px;
    font-size: 13px;
    display: inline-block;
}
.available-tag:hover {
    background: rgba(20, 20, 20, 0.5);
    color: #999;
    text-decoration: underline;
}